@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #071013;
  --color-white: #f2f7f2;
  --color-red: #de541e;
  --color-green: #3bb273;
  --color-grey: #63a088;
}

.desktop-navlink {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.charIdle {
  width: 32px;
  height: 32px;
  background: url('/images/sprites/AnimationSheet_Character.png') 0 0;
  animation: CharacterIdle .5s steps(2) infinite;
  transform: scale(5);
}
.charMoveRight {
  width: 32px;
  height: 32px;
  background: url('/images/sprites/AnimationSheet_Character.png') 0 -96px;
  animation: CharacterRun .5s steps(8) infinite ;
  transform: scale(5);
}
.charMoveLeft {
  width: 32px;
  height: 32px;
  background: url('/images/sprites/AnimationSheet_Character.png') 0 -96px;
  animation: CharacterRun .5s steps(8) infinite ;
  transform: scale(5);
}
.charMoveDuck {
  width: 32px;
  height: 32px;
  background: url('/images/sprites/AnimationSheet_Character.png') 0 -128px;
  animation: CharacterDuck .5s steps(6) infinite ;
  transform: scale(5);
}
.charMoveJump {
  width: 32px;
  height: 32px;
  background: url('/images/sprites/AnimationSheet_Character.png') 0 -160px;
  animation: CharacterJump .5s steps(8) infinite;
  transform: scale(5);
}

.leftCharacter {
  transform: rotateY(180deg) scale(5);
}

@keyframes CharacterIdle {
  100% { background-position: -64px 0; }
}
@keyframes CharacterRun {
  100% { background-position: -256px -96px; }
}
@keyframes CharacterDuck {
  100% { background-position: -192px -128px; }
}
@keyframes CharacterJump {
  100% { background-position: -256px -160px; }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #3bb273;
}

::-webkit-scrollbar-thumb {
  background: #de541e;
}